body {
  background: url("./background1.jpg") no-repeat center center fixed;
  background-size: cover;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Tutti Paffuti NF W01 Regular", sans-serif; */
  font-family: "Knewave", system-ui;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  /* background-color: aliceblue; */
  background-color: #f5ceda;
  /* border: 1px solid lightblue; */
  border: 4px solid #f6a1b9;
  border-radius: 10px;
  margin: 0 auto;
}
#board img {
  width: 50px;
  height: 50px;
}
.failure_alert,
.success_alert {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 38%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background-color: #f5ceda; */
  background-color: #fee7f1;
  color: #1583d8;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 420px;
  border: 10px solid #fb5ba6;
  border-radius: 10px;
}

.failure_alert.show {
  visibility: visible;
}
.success_alert.show {
  visibility: visible;
}
#restart,
#replay {
  display: flex;
  padding: 10px 20px;
  background-color: #fb5ba6;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-family: "Knewave", system-ui;
  bottom: 0;
  margin-top: 60px;
}
#restart:hover,
#replay:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
#replay {
  margin-top: 60px;
}
#highScore {
  font-size: 20px;
}

.score_title {
  margin-top: 0px;
}
.finalScore {
  font-size: 25px;
  color: white;
  background-color: #00b5fe;
  padding: 2px 35px 2px 35px;
  border: 4px solid #1583d8;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(85, 67, 222, 0.2);
}
.alert_message {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: #eb1735;
}
.alert_title {
  font-size: 30px;
}
.starsImg {
  width: 80%;
  height: 30%;
  top: 5%;
}
.chImg {
  width: 50%;
  height: 30%;
  top: 5%;
  align-self: flex-start;
}
